<.unsub_shell title="You're unsubscribed">
  <p class="text-base-content/70">
    <span class="font-medium text-base-content">{@email}</span>
    has been removed. You won't receive any further emails from us.
  </p>
</.unsub_shell>
